.details-container {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  position: relative;
  padding: 2px 25px;
  flex: 0.4;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.sub-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.17);
  position: relative;
  right: 3.4%;
}

.card .figure {
  display: flex;
  flex-direction: row;
}

.figure > img {
  max-height: 35px;
  margin-left: 20px;
  position: relative;
  top: 20px;
}
